html{
    overflow-y: scroll;
}



.custom_hide {
    display:none
}

table {
    border-collapse: collapse;
    width:100%;
    font-size: 16px;
    margin-top:19px;
}
.table_no_border tr, .table_no_border tr > th, .table_no_border tr > td {
    border: none;
    text-align: left;
    padding: 8px;
}

.table_gray_border tr, .table_gray_border tr > th, .table_gray_border tr > td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    font-weight: 500;
}

td {
    font-weight: 300;
    vertical-align: top;
}


.td_blue {
    color: #33618c;
}

body {
  font-family: 'Work Sans', sans-serif;
  color: #414141;
}

#logo_background {
    position: absolute;
    top:0;
    right:0;
    left:63%;
    bottom:0;
    height: 100%;
    opacity: 0.4;
}

#logo_navbar {
  height: 55px;
  margin: 15px;
}

.fadeIn-transition {
  transition: all 0.3s ease;
  visibility: visible;
  opacity: 1;
} .fadeIn-enter, .fadeIn-leave {
  visibility: hidden;
  opacity: 0;
}

.fadeInBig-transition {
  transition: all 2s ease;
  visibility: visible;
  opacity: 1;
} .fadeInBig-enter {
  visibility: hidden;
  opacity: 0;
} .fadeInBig-leave {
  visibility: hidden;
  opacity: 0;
}

.left_td {
    width: 45%;
}

.bg {
  position: fixed;
  top:10px;
  left:0;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  z-index: -1;
}

.brodtext {
  font-size: 16px !important;
  padding-left: 0px;
  padding-right: 30px;
  margin-bottom: 30px;
  font-weight:300;
}

.green_header {
    color: #9dc180;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top:30px;
}

.navbar-toggle {
  background-color: #ffffff;
  margin: 15px;
  margin-top: 25px;
  border-color: #414141;
}

.nav>li>a {
  font-size: 18px;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 14px;
  margin-right: 14px;
  color: #414141;
  font-weight: 300;
}

.navbar_item.dropdown {
  display: none;
}

.navbar_item_link:hover {
  color: #33618c;
  background-color: #ffffff  !important;
  -webkit-box-shadow:inset 0px -3px 0px 0px #33618c;
  -moz-box-shadow:inset 0px -3px 0px 0px #33618c;
  box-shadow:inset 0px -3px 0px 0px #33618c;
}

.navbar_item_link.v-link-active
{
  color: #33618c;
  background-color: #ffffff;
  -webkit-box-shadow:inset 0px -3px 0px 0px #33618c;
  -moz-box-shadow:inset 0px -3px 0px 0px #33618c;
  box-shadow:inset 0px -3px 0px 0px #33618c;
}

.navbar_item_link:visited,
.nav>li>a:focus {
  outline:none;
  background-color: #ffffff;
  border: none;
}

.boll {
  margin-top: 50px;
  height: 290px;
  width: 290px;
  background-color:#33618c;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.under_boll_rubrik {
    color: #33618c;
    font-size: 24px;
    font-weight:300;
    margin-bottom: 15px;
}

.square_text {
  color:#ffffff;
  font-size: 20px;
}

.square_description {
  font-weight: 300;
  width: 290px;
  text-align: center;
  padding-top: 30px;
  margin:auto;
  font-size: 16px;
}

.blue_row {
    background-color: #33618c;
}

.carousel.fade {
  opacity: 1;
}
.carousel.fade .item {
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:1;
}
.carousel.fade .item:first-child {
  top:auto;
  position:relative;
}
.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  z-index:2;
}

#square_row {
  margin-top: 60px;
}

#square_and_text_left {
  margin-right:auto;;
}

#square_and_text_center {
  margin:auto;
}

#square_and_text_right {
  float:right;
}

#jumborubrik {
  color: #ffffff;
  font-size: 36px;
}

#jumbotext {
  color: #ffffff;
  padding-top: 25px;
  padding-right: 30px;
  font-size: 32px;
  font-weight: 300;
}

#jumboline {
  width: 20%;
  border:1px solid #ffffff;
  float:left;
}

#jumbotron1 {
  background: url('../img/bakgrund_forsta.jpg') no-repeat center center;
  background-size: cover;
  padding-bottom:65px;
}

#jumbotron2 {
  background: url('../img/bakgrund_forsta.jpg') no-repeat center center;
  background-size: cover;
  padding-bottom:65px;
}

#jumbotron3 {
  background: url('../img/bakgrund_forsta.jpg') no-repeat center center;
  background-size: cover;
  padding-bottom:65px;
}

#om_oss_jumbo {
    background: url('../img/kontakt_banner.jpg') no-repeat center center;
    background-size: cover;
    margin-bottom: 100px;
    padding-top: 98px;
    padding-bottom:100px;
}

#om_oss_jumbo_text {
    text-transform: uppercase;
    font-size:32px;
    line-height: 38px;
    font-weight: 300;
    color: #ffffff;
    padding-right:85px;
}

#kontakta_oss_button {
    border: 1px solid #ffffff;
    background-color: #33618c;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    padding: 22px 110px 22px 110px;
    margin-top:50px;
}

#varfor_anhorigsangen {
  margin-top: 50px;
}

#om_oss {
    margin-top:40px;
}

#kontakt {
    margin-bottom: 80px;
}
#anhorigtext {
  font-size: 16px;
  font-style: Italic;
  margin-bottom: 16px;
  padding-left: 0px;
  padding-right: 30px;
  padding-top:16px;
  color:#33618c;
}

#circle_picture {
  background: url('../img/bild_cirkel_forsta.jpg') no-repeat center center;
  height: 480px;
  width: 480px;
  margin-left: auto;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-position: 52% 50%;
  background-size:154%;
}

#circle_picture_om_oss1 {
  background: url('../img/oss.jpg') no-repeat center center;
  height: 480px;
  width: 480px;
  margin-bottom:100px;
  margin-left: auto;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
    background-position: 52% 50%;
  background-size:154%;
}
#circle_picture_om_oss2 {
  background: url('../img/miljo.jpg') no-repeat center center;
  height: 480px;
  width: 480px;
  margin-bottom:80px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
    background-position: 52% 50%;
  background-size:154%;
}

#jumboCarousel {
    margin-bottom:90px;
}

#saker {
    background: url('../img/säker.jpg') no-repeat center center;
    background-size:cover;
    margin: auto;
    margin-top: 50px;
}

#flexibel {
    background: url('../img/flexibel.jpg') no-repeat center center;
    margin:auto;
    margin-top: 50px;
    background-size:cover;

}

#bekvam {
    background: url('../img/bekväm.jpg') no-repeat center center;
    background-size:cover;
    margin: auto;
    margin-top: 50px;
}

#custom_navbar {
  border: 0px;
  margin-bottom: 0px;
  background-color: #ffffff;
}

.icon-bar {
  background-color: #414141;
}

#footer {
  color: #c8c8c8;
  text-align: center;
}

#hr_text {
  margin-top:30px;
}

#rubrik_sesam {
  color: #33618c;
  font-size:24px;
  font-weight: 300;
  margin-bottom: 20px;
}

#las_mer {
  font-style: italic;
  font-size:16px;
}

#button_row {
    margin-top: 110px;
    margin-bottom: 10px;
}

#las_mer_start {
    width: 300px;
    margin-left:160px
}

#bestall_start {
    width: 300px;
    margin-right:160px;
}

#omSesam1stRow {
  background-color: #33618c;
  background-image: url('../img/pattern2.jpg');
  background-repeat: repeat;
  background-size:10%;
  padding: 0;
  margin-bottom: 0;
} @media(min-width: 768px) {#omSesam1stRow {
  height: 500px;
}} @media(min-width: 992px) {#omSesam1stRow {
  height: 700px;
}} @media(min-width: 1920px) {#omSesam1stRow {
  height: 750px;
}}

#OmSesamMenyAndTextColumn {
} @media(min-width: 768px) {#OmSesamMenyAndTextColumn {
height: 500px;
position: relative;
z-index: 0;
}} @media(min-width: 992px) {#OmSesamMenyAndTextColumn {
height: 700px;
position:relative;
z-index:0;
}} @media(min-width: 1920px) {#OmSesamMenyAndTextColumn {
height: 750px;
}}

#omSesamText {
  width: 100%;
  padding-top: 20px;
  color: white;
  font-size: 16px;
  font-weight: 300;
} @media(min-width: 768px) {#omSesamText {
  width: 45%;
  padding-top: 70px;
  color: white;
  font-size: 16px;
  font-weight: 300;
}} @media(min-width: 992px) {#omSesamText {
  width: 32%;
  padding-top: 100px;
  color: white;
  font-size: 16px;
  font-weight: 300;
}} @media(min-width: 1200px) {#omSesamText {
  width: 28%;
  padding-top: 100px;
  color: white;
  font-size: 16px;
  font-weight: 300;
}} @media(min-width: 1600px) {#omSesamText {
  width: 28%;
  padding-top: 100px;
  color: white;
  font-weight: 300;
}} @media(min-width: 1920px) {#omSesamText {
  width: 30%;
  padding-top: 100px;
  color: white;
  font-size: 18px;
  font-weight: 300;
}}


#omSesamMenyKnappgrupp {
  width: 100%;
  position: absolute;
  bottom: 0;
} @media(max-width: 767px) {#omSesamMenyKnappgrupp {
  position: static;
  margin-top: 20px;
}}

.omSesamMenyKnapp {
  height: 64px;
  border-top: 1px solid #23517c;
  color: white;
  font-size: 18px;
  font-weight: 400;
} @media(max-width: 767px){ .omSesamMenyKnapp {
  width: 100%;
}} @media(min-width: 768px){ @media(max-width: 991px) {.omSesamMenyKnapp {
  float: left;
  width: 33%;
  width: 33.33%;
  text-align: center;
  border-right: 1px solid #23517c;
} #omSesamMenyKnappSista {
  border-right: 0;
}}} @media(min-width: 992px) {.omSesamMenyKnapp {
  color: white;
  font-weight: 400;
  margin-left: -5000px;
  padding-left: 5000px;
}} .omSesamMenyKnapp:hover {
  background-color: rgb(35,81,124);
  background-color: rgba(35,81,124, 0.6);
  cursor: pointer;
}

.center_col {
    text-align:center;
}

.omSesamMenyKnapptext {
  padding-top: 18px;
}

#omSesamCarouselIndicators {
  display: none;
}

#omSesamCarousel {
  height: 0;
  float: right;
  z-index:1;
  padding: 0;
} @media(min-width: 768px) {#omSesamCarousel {
  margin-top: 100px;
  width: 50%;
  height: 300px;
}} @media(min-width: 992px) {#omSesamCarousel {
  margin-top: 0;
  width: 62%;
  height: 700px;
  border-left: 10px solid white;
}} @media(min-width: 1200px) {#omSesamCarousel {
  width: 65%;
}} @media(min-width: 1600px) {#omSesamCarousel {
  width: 62%;
}} @media(min-width: 1920px) {#omSesamCarousel {
  height: 750px;
  width: 60%;
}} @media(min-width: 2100px) {#omSesamCarousel {
  height: 750px;
  width: 58%;
}} @media(min-width: 2700px) {#omSesamCarousel {
  width: 55%;
}} @media(min-width: 4000px) {#omSesamCarousel {
  width: 50%;
}}

#omSesamCarousel:hover #omSesamCarouselIndicators {
  display: block;
}

.omSesamCarouselSlide {
  height: 0px;
  width: 100%;
} @media(min-width: 768px) {.omSesamCarouselSlide {
  float: right;
  height: 300px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}} @media(min-width: 992px) {.omSesamCarouselSlide {
  height: 700px;
  z-index:1;
  border-radius: 0;
}} @media(min-width: 1920px) {.omSesamCarouselSlide {
  height: 750px;
}}

#omSesamCarouselSlide1 {
  background: url('../img/slider_omA.jpg') no-repeat center center;
  background-size: cover;
}
#omSesamCarouselSlide2 {
  background: url('../img/slider_omA2.jpg') no-repeat center center;
  background-size: cover;
}
#omSesamCarouselSlide3 {
  background: url('../img/slider_omA3.jpg') no-repeat center center;
  background-size: cover;
}
#omSesamCarouselSlide4 {
  background: url('../img/slider_omA4.jpg') no-repeat center center;
  background-size: cover;
}
#omSesamCarouselSlide5 {
  background: url('../img/slider_omA5.jpg') no-repeat center center;
  background-size: cover;
}
#omSesamCarouselSlide6 {
  background: url('../img/slider_omA6.jpg') no-repeat center center;
  background-size: cover;
}

#omSesam2ndRow {
  padding-top: 100px;
  padding-bottom: 100px;
}

#anvandning_text {
  font-size: 16px;
  font-weight: 300;
}

#anvandning_cirkel {
  margin-top: 50px;
  margin-right: 35px;
  background: url('../img/anvandning.jpg');
  background-size:93%;
  height: 480px;
  width: 480px;
  margin: auto;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
} @media(max-width: 767px) {#anvandning_cirkel{
  display: none;
}} @media(min-width: 768px) {#anvandning_cirkel{
  margin-top: 130px;
  height: 370px;
  width: 370px;
}} @media(min-width: 1200px) {#anvandning_cirkel{
  margin-top: 80px;
  height: 410px;
  width: 410px;
}}

#omSesamBGjumbo2 {
  background-color: #fafafa;
  padding: 0;
  height: 750px;
  margin: 0 !important;
} @media(max-width: 767px) {#omSesamBGjumbo2 {
  height: auto;
}}@media(min-width: 1024px) {#omSesamBGjumbo2 {
  height: 900px;
}}

#sangensDelarBildContainer {
  height: 100%;
  float: right;
  border-left: 10px solid white;
} @media(max-width: 1023px) {#sangensDelarBildContainer {
  display: none;
}}

.sangensDelarBild {
  height: 100%;
}
#hjul {
    background: url('../img/hjul.jpg') no-repeat center center;
    background-size:cover;
}
#madrass {
    background: url('../img/madrass.jpg') no-repeat center center;
    background-size:cover;
}
#mekanism {
    background: url('../img/mekanism.jpg') no-repeat center center;
    background-size:cover;
}
#stomme {
    background: url('../img/skåp.jpg') no-repeat center center;
    background-size:cover;
}
#botten{
    background: url('../img/botten.jpg') no-repeat center center;
    background-size:cover;
}

#sangensDelarMenyOchText {
  width: 100%;
  height: 850px;
  position:relative;
  z-index:0;
} @media(max-width: 1023px) {#sangensDelarMenyOchText {
  height: 600px;
  padding-top: 42px;
}} @media(max-width: 991px) {#sangensDelarMenyOchText {
  height: 100%;
}}

#sangensDelarUpp {
  position: absolute;
  top:0;
  left:0;
  font-size: 12px;
  font-weight: 300;
  color: #33618c;
} #sangensDelarUpp:hover {
  text-decoration: none;
  cursor: pointer;
}

#tekniskSpecUpp {
  position: absolute;
  top:-100px;
  left:15px;
  font-size: 12px;
  font-weight: 300;
  color: #33618c;
  z-index: 100;
} #tekniskSpecUpp:hover {
  text-decoration: none;
  cursor: pointer;
}

#sangensDelarMenyKnappgrupp {
  position: absolute;
  top: 173px;
  left: -50px;
  height: 50%;
  width: 25%;
  border-right: 1px solid #33618c;
  padding-right: 15px;
} @media(max-width: 1023px) {#sangensDelarMenyKnappgrupp {
  top: 110px;
  width: 30%;
  height: 400px;
  left: 0;
}} @media(max-width: 767px) {#sangensDelarMenyKnappgrupp {
  display: none;
}}

.sangensDelarMenyKnapp {
  height: 40px;
  font-size: 18px;
  text-align: right;
} @media(max-width: 1023px) {.sangensDelarMenyKnapp {
  margin-bottom: 30px;
}} @media(max-width: 991px) {.sangensDelarMenyKnapp {
  font-size:16px;
}} @media(max-width: 767px) {.sangensDelarMenyKnapp {
  margin-bottom: 0;
  text-align: left;
}}

.sangensDelarMenyKnapp>a {
  color: #33618c;
  font-weight: 300;
} .sangensDelarMenyKnapp>a:hover, .sangensDelarMenyKnapp>a.aktiv {
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

#sangensDelarRubrikOchText {
  top: 107px;
  left: 277px;
  height: 100%;
} @media(max-width: 1023px) {#sangensDelarRubrikOchText {
  float: right;
  padding-left: 35%;
  padding-right: 5%;
  padding-bottom: 100px;
  width: 100%;
}} @media(max-width: 767px) {#sangensDelarRubrikOchText {
  float: right;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 50px;
  width: 100%;
}} @media(min-width: 1024px) {#sangensDelarRubrikOchText {
  position: absolute;
  top: 107px;
  left: 210px;
  height: 100%;
}} @media(min-width: 1200px) {#sangensDelarRubrikOchText {
  position: absolute;
  top: 107px;
  left: 277px;
  height: 100%;
}}

#sangensDelarRubrik {
  font-size: 26px;
  color: #33618c;
  width: 100%;
} @media(max-width: 767px) {#sangensDelarRubrik {
  font-size: 20px;
  font-size: 6vw;
}}

#sangensDelarRubrikStatisk {
  font-weight: 600;
  width: 200px;
  border-right: 1px solid #33618c;
  display: inline-block;
} @media(max-width: 767px) {#sangensDelarRubrikStatisk {
  width: 50%;
}}

.sangensDelarRubrikVal {
  padding-left: 4px;
  font-weight: 300;
  display: inline-block;
} @media (max-width: 767px) {.sangensDelarRubrikVal {
  display: none;
}}

#sangensDelarDropdown {
  display:inline;
} @media (min-width: 768px) {#sangensDelarDropdown {
  display: none;
}}

.sangensDelarText {
  padding-top: 32px;
  width: 400px;
  color: #656565;
  font-size: 16px;
  font-weight: 300;
} @media (max-width: 1199px) {.sangensDelarText {
  width: 50%;
}} @media (max-width: 1023px) {.sangensDelarText {
  width: 100%;
}}

.arrow_link {
    display: inline;
    padding-right: 46px;
    float: right;
    font-size: 24px;
    font-weight: 300;
    margin-top: -6px;
}

#tekniskSpecContainer {
    padding-top: 100px;
}

@media(max-width: 1199px) {
  #circle_picture_om_oss1 {
    height: 450px;
    width: 450px;
    margin-bottom:90px;
  }
  #circle_picture_om_oss2 {
    height: 450px;
    width: 450px;
    margin-bottom:90px;
  }
}

@media(max-width: 1023px) {
  #las_mer_start {
    margin-left:0px
  }
  #bestall_start {
    margin-right:0px;
  }
  #prisbild1, #prisbild2, #prisbild3, #prisbild4 {
      margin:auto;
      margin-bottom:50px;
      margin-top: 0px !important;
  }
  #prisbild4 {
      margin-top: 40px !important;
  }
  #sesam1_hr, #sesam2_hr, #sesam3_hr, #sesam4_hr, #sesam5_hr, #sesam6_hr, #sesam7_hr, #sesam8_hr {
      width: 100% !important;
  }
  .pris_bild {
      width: 350px !important;
      height: 350px !important;
  }
  #laslampa {
      margin-top: 0px !important;
  }
  #leverans {
      margin-top: 0px !important;
  }
  #om_oss_jumbo {
      margin-bottom: 20px !important;
  }
  .green_header {
      margin-top:40px !important;
  }

}

@media(max-width: 767px) {

  .navbar_item.normal {
    display: none;
  }

  .navbar_item.dropdown {
    display: list-item;
  }

  #circle_picture {
    width: 0px;
    height:0px;
  }
  .boll {
      margin:0;
      margin-top: 50px;
  }

  #jumboCarousel {
      margin-bottom:0px;
  }

  #las_mer_start {
    margin-left:0px
  }
  #bestall_start {
    margin-right:0px;
  }
  #prisbild1, #prisbild2, #prisbild3, #prisbild4 {
      margin:auto;
      margin-bottom:50px;
      margin-top: 0px !important;
  }
  #prisbild4 {
      margin-top: 40px !important;
  }
  #sesam1_hr, #sesam2_hr, #sesam3_hr, #sesam4_hr, #sesam5_hr, #sesam6_hr, #sesam7_hr, #sesam8_hr {
      width: 100% !important;
  }
  .pris_bild {
      width: 300px !important;
      height: 300px !important;
  }
  #laslampa {
      margin-top: 0px !important;
  }
  #leverans {
      margin-top: 0px !important;
  }

  #circle_picture_om_oss1 {
      height: 0px !important;
      width: 0px !important;
  }
  #circle_picture_om_oss2 {
      width: 300px !important;
      height: 300px !important;
      margin:auto;
  }
  #square_and_text_right {
    float: none;
  }
}

@media (min-width: 768px) {

  .nav>li>a {
    padding-bottom:35px;
    padding-top:35px;
    font-size: 12px;
  }

  #sangensDelarBildContainer {
      width: 0;
  }
  #circle_picture {
      width: 0px;
      height:0px;
  }

  .boll {
      margin:0;
      margin-top: 50px;
  }

  #square_and_text_left {
    margin-right: 100%;
  }
}

@media (min-width: 992px) {

  .nav>li>a {
    padding-bottom:40px;
    padding-top:40px;
    font-size: 15px;
  }
  #logo_navbar {
    height: 65px;
    margin-top: 20px;
  }

  #sangensDelarBildContainer {
      width:0;
  }

  #circle_picture {
      height: 480px;
      width: 480px;
  }

  #square_and_text_right {
      float: none;
  }

  .boll {
      margin:auto;
      margin-top: 50px;
  }

  #square_and_text_left {
    margin-right: auto;
  }

}

@media (min-width: 1024px) {
  #sangensDelarBildContainer {
      width:38%
  }

  .nav>li>a {
    padding-bottom:46px;
    padding-top: 46px;
    font-size: 17px;
  }
  #logo_navbar {
    height: 75px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  #sangensDelarBildContainer {
      width:38%
  }
}

@media (min-width: 1900px) {

  .nav>li>a {
    padding-bottom:46px;
    padding-top: 46px;
    font-size: 17px;
  }
  #logo_navbar {
    height: 75px;
    margin-top: 20px;
  }
  #sangensDelarBildContainer {
      width:38%
  }
}

@media (min-width: 2000px) {

  #sangensDelarBildContainer {
      width: 41%
  }
}

@media (min-width: 2400px) {
  #sangensDelarBildContainer {
      width: 45%
  }
}
