html{
    overflow-y: scroll;
}

table {
    border-collapse: collapse;
    width:100%;
    font-size: 16px;
    margin-top:19px;
}

tr, th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    font-weight: 500;
}

td {
    font-weight: 300;
}

body {
  font-family: 'Work Sans', sans-serif;
  color: #414141;
}

.left_td {
    width: 45%;
}
.bg {
  position: fixed;
  top:10px;
  left:0;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  z-index: -1;
}

.brodtext {
  font-size: 16px;
  text-align: justify;
  padding-left: 0px;
  padding-right: 30px;
  margin-bottom: 30px;
  font-weight:300;
}

.navbar-toggle {
  background-color: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  border-color: #414141;
}

.nav>li>a {
  font-size: 18px;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 14px;
  margin-right: 14px;
  color: #414141;
  font-weight: 300;
}

.nav>li>a.v-link-active
{
  color: #1f7294;
  background-color: #ffffff;
  -webkit-box-shadow:inset 0px -3px 0px 0px #1f7294;
  -moz-box-shadow:inset 0px -3px 0px 0px #1f7294;
  box-shadow:inset 0px -3px 0px 0px #1f7294;
}

.nav>li>a:visited,
.nav>li>a:focus{
  outline:none;
  background-color: #ffffff;
  border: none;
}

.square {
  margin-top: 50px;
  height: 290px;
  line-height: 290px;
  text-align: center;
  width: 290px;
  background-color:#1f7294;
}

.square_text {
  color:#ffffff;
  font-size: 20px;
}

.square_description {
  font-weight: 300;
  width: 290px;
  text-align: center;
  padding-top: 30px;
  margin:auto;
  font-size: 16px;
}

.carousel.fade {
  opacity: 1;
}
.carousel.fade .item {
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:1;
}
.carousel.fade .item:first-child {
  top:auto;
  position:relative;
}
.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  z-index:2;
}

#square_row {
  margin-top: 60px;
}

#square_and_text_left {
  margin-right:100%;
}

#square_and_text_center {
  margin:auto;
}

#square_and_text_right {
  float:right;
}

#jumborubrik {
  color: #ffffff;
  font-size: 36px;
}

#jumbotext {
  color: #ffffff;
  padding-top: 25px;
  padding-right: 30px;
  font-size: 32px;
  font-weight: 300;
}

#jumboline {
  width: 20%;
  border:3px solid #ffffff;
  float:left;
}

#jumbotron1 {
  background: url('../img/bakgrund_forsta.jpg') no-repeat center center;
  background-size: cover;
  margin-bottom: 50px;
}

#jumbotron2 {
  background: url('../img/bakgrund_forsta.jpg') no-repeat center center;
  background-size: cover;
  margin-bottom: 50px;
}

#jumbotron3 {
  background: url('../img/bakgrund_forsta.jpg') no-repeat center center;
  background-size: cover;
  margin-bottom: 50px;
}

#varfor_anhorigsangen {
  margin-top: 50px;
}

#anhorigtext{
  font-size: 16px;
  font-style: Italic;
  margin-bottom: 16px;
  padding-left: 0px;
  padding-right: 30px;
  padding-top:16px;
  color:#1f7294;
}

#circle_picture {
  background: url('../img/bild_cirkel_forsta.jpg') no-repeat center center;
  height: 480px;
  width: 480px;
  margin-left: auto;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
    background-position: 52% 50%;
  background-size:154%;
}

#jumboCarousel {
    margin-bottom:40px;
}
#saker {
    background: url('../img/saker.jpg') no-repeat center center;
}

#flexibel {
    background: url('../img/flexibel.jpg') no-repeat center center;
    margin:auto;
    margin-top: 50px;
}

#bekvam {
    background: url('../img/bekvam.jpg') no-repeat center center;
}

#custom_navbar {
  border: 0px;
  margin-bottom: 0px;
  background-color: #ffffff;
}

.icon-bar {
  background-color: #414141;
}

#footer {
  color: #c8c8c8;
  text-align: center;
}


#hr_text {
  margin-top:30px;
}

#rubrik_sesam {
  color: #1f7294;
  font-size:24px;
  font-weight: 300;
  margin-bottom: 20px;
}

#las_mer {
  font-style: italic;
  font-size:16px;
}

#omSesamBGjumbo1 {
  background-color: #1f7294;
  height: 600px;
  padding: 0;
}

#omSesam1stRow {
  height: 600px;
}

#omSesamMeny {
  height: 100%;
}

#omSesamMeny_text {
  padding-top: 50px;
  padding-right: 50px;
  color: white;
  font-size: 16px;
  font-weight: 300;
}

#omSesamMeny_knappgrupp {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.omSesamMeny_knapp {
  width: 120%;
  padding-left: 15px;
  margin-left: -15px;
  height: 50px;
  border-top: 1px solid #0a6084;
  color: white;
  font-size: 18px;
  font-weight: 300;
} .omSesamMeny_knapp:hover {
  background-color: #0a6084;
  cursor: pointer;
}

.omSesamMeny_knapptext {
  padding-top: 12px;
}

#viewer {
  padding: 0;
}

#omSesamCarousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-left: 5px solid white;
  border-right: 5px solid white;
}

#button_row {
    margin-top: 110px;
    margin-bottom: 10px;
}

#las_mer_start {
    float:right;
    margin-right: 40px;
}

#bestall_start {
    margin-left: 40px;
}

#slider_omA {
  background: url('../img/slider_omA.jpg') no-repeat center center;
  background-size: cover;
  height: 600px;
} #slider_omA2 {
  background: url('../img/slider_omA2.jpg') no-repeat center center;
  background-size: cover;
  height: 600px;
} #slider_omA3 {
  background: url('../img/slider_omA3.jpg') no-repeat center center;
  background-size: cover;
  height: 600px;
} #slider_omA4 {
  background: url('../img/slider_omA4.jpg') no-repeat center center;
  background-size: cover;
  height: 600px;
} #slider_omA5 {
  background: url('../img/slider_omA5.jpg') no-repeat center center;
  background-size: cover;
  height: 600px;
} #slider_omA6 {
  background: url('../img/slider_omA6.jpg') no-repeat center center;
  background-size: cover;
  height: 600px;
}

#omSesam2ndRow {
  margin-top: 150px;
}

#anvandning_text {
  color: black;
  font-size: 16px;
  font-weight: 300;
}

#anvandning_cirkel {
  margin-top: 50px;
  margin-right: 35px;
  background: url('../img/anvandning_circle.jpg') no-repeat center center;
  height: 480px;
  width: 480px;
  margin-left: auto;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

#omSesamBGjumbo2 {
  margin-top: 150px;
  background-color: #1f7294;
  height: 700px;
  padding: 0;
}

#omSesam3rdRow {
  height: 700px;
}

#sangens_delar {
  height: 100%;
  border-right: 5px solid white;
}

#sangens_delar_meny {
  height: 100%
}

#sangens_delar_meny>a {
  font-size: 12px;
  font-weight: 600;
  color: white;
} #sangens_delar_meny>a:hover {
  font-weight: 700;
  color: white;
  text-decoration: none;
}

#sangens_delar_meny_knappgrupp {
  position: absolute;
  height: 70%;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-right: 1px solid white;
  padding-right: 20px;
}

#sangens_delar_rubrik {
  color: white;
  font-size: 26px;
  font-weight: 600;
  text-align: right;
  padding-bottom: 30px;
}

.sangens_delar_meny_knapp {
  width: 100%;
  height: 50px;
  font-size: 18px;
  text-align: right;
}

.sangens_delar_meny_knapp>a {
  color: white;
  font-weight: 300;
} .sangens_delar_meny_knapp>a:hover, .sangens_delar_meny_knapp>a.v-link-active {
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

#sangens_delar_text {
  height: 100%;
}

#delar_text {
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  font-weight: 300;
}

#sangens_delar_bild {
  height: 100%;
  padding: 0;
  border-right: 5px solid white;
}

#sangens_delar_bild>img {
  width:100%;
  height:100%;
}

#logo_navbar {
  height: 55px;
  margin-top: 5px;
}

@media (min-width: 768px) {

  .nav>li>a {
    padding-bottom:35px;
    padding-top:35px;
    font-size: 12px;
  }

  #logo_navbar {
    height: 55px;
    margin-top: 20px;
  }
}

@media (min-width: 992px) {

  .nav>li>a {
    padding-bottom:40px;
    padding-top:40px;
    font-size: 15px;
  }

  #logo_navbar {
    height: 65px;
    margin-top: 20px;
  }
}

@media (min-width: 1200px) {

  .nav>li>a {
    padding-bottom:46px;
    padding-top: 46px;
    font-size: 17px;
  }

  #logo_navbar {
    height: 75px;
    margin-top: 20px;
  }
}
