/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-aug-15, 15:08:53
    Author     : Ludvig
*/
#priser_rubrik1 {
    font-weight: 300;
    color: #ffffff;
    font-size: 30px;
    margin-bottom:20px; 
}

#generos {
    margin-bottom: 16px;
}

.priser_garanti {
    font-size: 16px !important;
    color: white;   
    font-weight: 300;
}

.garanti_bold {
    font-weight: 400;
    color: #fffff;
    display: inline;
}

.garanti_light {
    display: inline;
}

#sesam1_hr {
    border-color: #1f7294;
    margin-left: 0;
    text-align: left;
    width: 340px;
}

#sesam2_hr {
    border-color: #1f7294;
    margin-left: 0;
    text-align: left;
    width: 590px;
}

#sesam3_hr {
    border-color: #1f7294;
    margin-left: 0;
    text-align: left;
    width: 250px;
}

#sesam4_hr {
    border-color: #1f7294;
    margin-left: 0;
    text-align: left;
    width: 250px;
}

#sesam5_hr {
    border-color: #1f7294;
    margin-left: 0;
    text-align: left;
    width: 250px;
}

#sesam6_hr {
    border-color: #ffffff;
    margin-left: 0;
    text-align: left;
    width: 250px;
}

#sesam7_hr {
    width: 290px;
    margin-left: 0;
    text-align: left;
    border-color: #1f7294;
    margin-bottom:70px;
}

#sesam8_hr {
    width: 310px;
    margin-left: 0;
    text-align: left;
    border-color: #1f7294;
}

#sesam9_hr {
    width: 310px;
    margin-left: 0;
    text-align: left;
    border-color: green;
}

#sesam10_hr {
    width: 310px;
    margin-left: 0;
    text-align: left;
    border-color: #1f7294;
}

.sesam_g1303 {
    display:inline;
    color: #1f7294;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}

#laslampa {
    margin-top: 90px;
}
#bestallning_rubrik {
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}

.hr_prislista {
    border-color: #414141;
}

.prislista_pris {
    display: inline;
    float: right;
}

.pris_text {
    display:inline;
    font-size: 16px;
    font-weight:300;
}

.pris_text_bold {
    font-weight: 500;
}

.pris_text_blue {
    color: #1f7294;
    font-size:18px;
}

.pris_text_stor {
    font-size: 18px;
}
.pris_st {
    margin-top:30px;
}
.pris_text_pris {
    font-size: 22px;
    color: #1f7294;
    font-weight: 600;
}

.pris_text_rubrik {
    font-size: 24px;
    font-weight: 500;
    color: #1f7294;
}
.pris_per_st {
    margin-top: 40px;
}

.bestallning_text {
    display:inline;
    font-weight: 300;
    color: #ffffff;
    font-size: 16px;
}
.bestallning_text_bold {
    font-weight: 500;
}

.order_button {
    border: 1px solid #1f7294;
    color: #1f7294;
    font-size: 18px;
    font-weight: 300;
    padding: 22px 110px 22px 110px;
    margin-top:15px;
    margin-bottom: 80px;
}

.order_button_white {
    background-color: #ffffff;
}

#order_button_gray {
    background-color: #eee;
}



.pris_bild {

    height: 480px;
    width: 480px;
    margin-left: auto;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

#prisbild1 {
    background: url('../img/hela_sangen.jpg') no-repeat center center;
    margin-top:85px;
    background-size: 100%;
    background-position: 50% 78%;
}

#prisbild2 {
    background: url('../img/stomme.jpg') no-repeat center center;
    margin-top:50px;
    background-size: 149%;
    background-position: 50% 78%;
}

#prisbild3 {
    background: url('../img/lampa.jpg') no-repeat center center;
    margin-bottom: 80px;
     background-size: 180%;
    background-position: 76% 87%;
}

#prisbild4 {
    background: url('../img/kartong.jpg') no-repeat center center;
    margin-bottom: 80px;
    background-size: 126%;
    background-position: 76% 87%;
}

.gray_jumbo {
    background-color: #eee;
    padding-top: 90px;
    padding-bottom: 0px;
    margin-bottom:90px;
}

#priser_jumbotron {
    background-color: #1f7294;
    //background-image: url('../img/symbol.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50%;
    padding-bottom:100px;
    padding-top:65px;
    margin-bottom: 90px;
}

#leverans {
    margin-top: 110px;
}

#bestallning_jumbo {
    background-color: #1f7294;
    padding-top: 90px;
    padding-bottom:80px;
    margin-bottom:90px;
}

#exempel_bestallning {
    border: 1px solid #ffffff;
    padding: 60px;
}